# ---- macOS ----
.DS_Store
.AppleDouble
.LSOverride

# ---- Python ----
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/
ENV/

# ---- Editors / IDEs ----
.idea/
.vscode/
*.swp
*.swo

# ---- Odoo ----
*.log
odoo.log
filestore/
sessions/
